textarea {
    min-height: 400px;
}

.list-group {
    margin-top: 20px;
}

.list-group-item {
    height: 50px;
}

.list-group-item:hover {
    background-color: white;
    box-shadow: 0px 0px 6px #d1d1d1;
}

.list-group-item-sender {   
    display: inline-block;
    width: 25%;
}

.list-group-item-timestamp {
    float: right;
    width: 20%;
    text-align: right;
    color: #BDBFC2;
}