textarea {
    min-height: 400px;
}

.list-group {
    margin-top: 20px;
}

.list-group-item {
    height: 50px;
}

.list-group-item-sender {
    display: inline-block;
    width: 25%;
    font-weight: bold;
}